<section class="container excluir-pensamentos ff-inter">
  <div class="modal">
    <p>
      O pensamento será deletado. <br />
      Confirma a exclusão?
    </p>
    <div class="acoes">
      <button class="botao botao-excluir" (click)="excluirPensamento()">
        Excluir
      </button>
      <button
        class="botao-excluir"
        routerLink="/pensamentos/excluirPensamento/{{ pensamento.id }}"
      >
        <img src="/assets/imagens/icone-excluir.png" alt="Ícone de excluir" />
      </button>
    </div>
  </div>
  <div class="overlay"></div>
</section>
